:root {
    --heading-main-text: aquamarine;  
    --heading-small-text: #C7FFED;     
    --paragraph: #B592A0;              
    --font-color: #BBC8CA;             
}

h1 {
    color: var(--heading-main-text);    
}

h2 {
    color: var(--heading-small-text);   
}

p {
    color: var(--paragraph);             
}

nav a {
    text-decoration: none;               
}

body {
    max-width: 1200px;                  
    margin: 0 auto;                     
    padding: 20px;                      
}

.hero {
    position: relative;                  
    background-image: url(/wwr/images/Picture1.jpg); 
    background-size: cover;              
    background-repeat: no-repeat;        
    background-position: center;         
}

.hero h1 {
    position: absolute;                  
    top: 50%;                            
    left: 50%;                           
    transform: translate(-50%, -50%);   
    margin: 10px;                       
    padding: 10px;                      
    border-radius: 5px;                 
    background-color: rgba(0, 0, 0, 0.5); 
    color: var(--font-color);           
}

.hero img {
    display: block;                      
    width: 100%;                        
    height: auto;                       
}

.hero article {
    position: absolute;                  
    bottom: 20px;                       
    left: 20px;                         
    background-color: rgba(199, 255, 237, 0.8); 
    padding: 20px;                      
    border-radius: 10px;                
}

.hero article img {
    float: right;                      
    margin: 10px;                       
    width: 100px;                      
}

footer {
    display: flex;                      
    align-items: center;                
}

footer p {
    margin: 0;                          
}

footer img {
    width: 30px;                        
    margin-left: 10px;                  
}
